%body.main-body
  %head.header
    .header__inner
      %h1.header__inner__logo
        %a.header__inner__logo__tittle{href: "/"}
          GROUP365
  %main.index-main
    .index-main__january
      .index-main__january__tittle
        %a.index-main__january__tittle__text{href: "/"}
          January
    .index-main__february
      .index-main__january__tittle
        %a.index-main__january__tittle__text{href: "/"}
          February
    .index-main__march
      .index-main__january__tittle
        %a.index-main__january__tittle__text{href: "/"}
          March
    .index-main__april
      .index-main__january__tittle
        %a.index-main__january__tittle__text{href: "/"}
          April
    .index-main__may
      .index-main__january__tittle
        %a.index-main__january__tittle__text{href: "/"}
          May
    .index-main__june
      .index-main__january__tittle
        %a.index-main__january__tittle__text{href: "/"}
          June
    .index-main__july
      .index-main__january__tittle
        %a.index-main__january__tittle__text{href: "/"}
          July
    .index-main__august
      .index-main__january__tittle
        %a.index-main__january__tittle__text{href: "/"}
          August
    .index-main__september
      .index-main__january__tittle
        %a.index-main__january__tittle__text{href: "/"}
          September
    .index-main__october
      .index-main__january__tittle
        %a.index-main__january__tittle__text{href: "/"}
          October
    .index-main__november
      .index-main__january__tittle
        %a.index-main__january__tittle__text{href: "/"}
          November
    .index-main__december
      .index-main__january__tittle
        %a.index-main__january__tittle__text{href: "/"}
          December
        